open-sans-<uniquifier> {
    font-family: "Open Sans" sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  body{
    font-family: "Open Sans";
    font-size: 90%;    
  }
header {
    background-color: gray;
    padding: 20px 0;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    right: 0px;
    top: 110px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color:#c78c19;
    text-decoration: underline;
    
}

.productos {
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 50px
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.productos li:hover {
    border: 2.5px solid #c78019;

}
.productos li:active{
    border-color: green;
}
.productos li:hover h2{
    font-size: 33px;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.descripcion {
    font-size: 18px;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color:white;
    font-size: 13px;
    margin: 20px;

}
main {
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}

form label, form p, fieldset legend{
    display: block;
    margin: 10px 0 5px;
    font-size: 20px;
}



form textarea{
    display: block;
    margin-top: 5px;
    padding:10px 25px;
    width: 50%;
    height: 100px;
}
.boton{
    margin-top: 25px;
    padding: 10px 25px;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #000;
    border-radius: 5px;
    transition: 3s all;
    cursor: pointer;
}
.boton:hover{
    background: #4ceaff;
    color:black;
    border-radius: 5px;
    transform: scale(1.1) rotatez(360deg);
    transition: 3s all;
    cursor: pointer;
        
}
.boton:focus{
    background: white;
    color:red;
    border-radius: 5px;
}

.boton:active{
    background: white;
    color:red;
}

.input-padron{
    display:block;
    margin:0 0 20px;
    padding:10px 25px;
    width: 50%;
}

select, option {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 25%;
    height: 2%;
    font-size: 16px;
    font-weight: bold;
    border-color: transparent;
    background-color: rgb(100, 150, 206);
    ;
}

table{
    margin: 40px 40px;
    padding: 3px;
}

thead{
    background-color: gray;
    color:white;
    font-weight: bold;
    padding: 3px;
}

td, th {
    border: 1px solid #000000 ;
    padding: 8px 15px;
    text-align: center;
    font-weight: bold;
}

/* css para home*/

.banner{
    width: 100%;
    height: 100%;
    
}
.titulosecundario{
    text-align: center;
    font-size: 2em;
    clear: left;
    padding: 1em;
}

#mision {
    padding: 2em;
    margin: 0 0 1em;
}

.principal{
    background-color: rgba(255, 135, 50, 0.815);
    background-size: 100%;
    padding: 0 0 30px;
    width: 940px;
    position: relative;
}

.princioal p {
    margin: 0 0 1em;

}

.principal strong{
    font-weight: bold;
}

.mapa{
    padding: 3em 0;
}
.mapa p{
    margin: 0 0 2em 0;
    text-align: center;
}

.utencilios{
    width: 10%;
    float: left;
    margin: 0 20px 20px 0 ;
}

.principal em{
    font-style: italic;
}
